
@{
    Layout = null;
}

<!DOCTYPE html>

<html onload="bekle()">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
    <script type="text/javascript">
        function bekle(){
    window.location.href = "/deneme/index";
        }
    </script>
</head>
<body onload="setTimeout('bekle()',3000)">
    <div> 
        <h2>Sorunuz gönderilmiştir.. 3 saniye içinde ana sayfaya yönlendiriliyorsunuz</h2>
    </div>
</body>
</html>
