#navbar {
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    height: 100px;
}


#soru-akıs .sorular {
    flex-direction: column;
}
#container{
    flex-direction:column;
    float:left;
}
#totalgrp {
    margin-top: 2rem;
}
.mobile{
    width:100%;
    height:120px;
}
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width:100%;
    background-color: #cc9900;
    height: 10rem;
}

    #home img {
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        width: 300px;
        height: 80px;
        padding-top:5px;
    }


#fade1 {
    margin-top: 4rem;
  
}
.spacebw {
   float:left;
    flex-direction: column;
    max-width:100%;

}
.lableforngr {
    border-color: mediumpurple;
   width:100%;
    color: white;
    
    border: solid;

    overflow-y: hidden !important;
    background-color: #29303B;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    resize: none;
}
.lableforngr1 {
    border-color: mediumpurple;
    width: 100%;
    color: white;
    border: solid;
    overflow-y: hidden !important;
    background-color: #29303B;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    resize: none;
}