
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_layout.cshtml";
    
}

<h2>Index</h2>

<div>
    <table style="width: 100%">
        <tr>
            <td>deneme &nbsp;</td>
            <td>deneme &nbsp;</td>
            <td>deneme &nbsp;</td>
        </tr>
        <tr>
            <td>deneme &nbsp;</td>
            <td>deneme&nbsp;</td>
            <td><a href="/">bas bana</a> deneme &nbsp;</td>
        </tr>
    </table>
</div>



